/* место для вашего кода */

/*хедер*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1052px;
  margin: 92px auto 96px;
}

/*блок меню*/
.header__menu {
  background-color: transparent;
}

/*общий список меню*/
.header__links-list {
  display: flex;
  justify-content: space-between;
  padding: 9px 34px 0 0;
  margin-left: 27px;
}

/*отдельный пункт меню*/
.header__links-list-item {
  list-style-type: circle;
  font-size: 18px;
  text-underline-offset: 4px;
  letter-spacing: 0.3px;
}

/*убираю маркер у первого пункта списка*/
.header__links-list-item_no-bullit {
  list-style: none;
}

/*ссылка*/
.header__link {
  color: black;
}

/*убираю подчёркивание активной ссылки*/
.header__link_active {
  text-decoration: none;
}

/*блок лого*/
.header__logo {
  width: 148px;
  height: 105px;
  padding-top: 4px;
}

/*картинка лого*/
.header__logo-image {
  height: 105px;
}
/*общий блок адреса*/
.address {
  text-underline-offset: 4px;
  font-style: normal;
  font-size: 18px;
  padding-right: 25px;
  line-height: 1.36;
  letter-spacing: 0.2px;
}

/*блок адреса хедера*/
.header__address {
  margin: 10px 0 0 186px;  
}

/*блок оно тебе надо*/
.cover {
  position: relative;
  width: 1100px;
  padding-bottom: 335px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/*полупрозрачный блок оно тебе надо*/
.overlay {
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
  height: 100%;
  width: 100%;
}

/*текст оно тебе надо целиком*/
.cover__title {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 162px;
  z-index: 3;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  line-height: 124px;
  margin-left: 50px;
  width: 1030px;
}

/*первая строка текста оно тебе надо*/
.aligned-text {
  display: flex;
  letter-spacing: 30px;
}

/*вторая строка текста оно тебе надо*/
.aligned-text_center {
  display: flex;
  align-self: center;
  letter-spacing: 30px;
}

/*третья строка текста оно тебе надо*/
.aligned-text_right {
  display: flex;
  align-self: flex-end;
}

/*интервал для второй буквы "е" в слове "тебе"*/ 
/*Спасибо за ревью, очень помогло лучше понять принципы, логику, расширило взгляд на подходы и оптимизацию кода. 
Сейчас он мне нравится, хотя, когда отправлял первый раз, не покидало ощущение, что он весь состоит из костылей) 
Спасибо ещё раз и удачи во всём)*/
.letter-spacing-increased { 
  letter-spacing: 90px;
}

/*управление межбуквенным расстоянием*/
.letter-spacing-extended {
  letter-spacing: 60px;
}

/*обнуление межбуквенного расстояния*/
.no-letter-spacing {
  letter-spacing: 30px;
}

/*подзаголовок и кнопка*/
.cover__description {
  position: relative;
  top: 285px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 275px;
  gap: 50px;
  margin-left: 78px;
  margin-right: 51px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

/*текст подзаголовка*/
.cover__description-text {
  letter-spacing: 0.2px;
  word-spacing: 17.5px;
  align-self: center;
}

/*кнопка сделать ставку*/
.bet-button {
  font-family: Raleway, sans-serif; 
  padding: 11px;
  width: 255px;
  margin-bottom: 0px;
  color: white;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  justify-self: end;
  border: none;
  border: 1px solid white;
}

/*секция карточек товаров*/
.lots {
  margin: 180px 24px 0 24px;
}

/*заголовок секции*/
.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

/*список карточек*/
.lots__card-list {
  display: flex;  
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

/*пункт списка карточек*/
.lots__card-list-item {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-grow: 1;
}

/*ссылка карточки*/
.card-link {
  display: block;
}

/*карточка*/
.card{
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: 563px; /*Надеюсь, правильно понял. По крайней мере, секция не сломалась)*/
  width: 334px;
  position: relative;
  flex-wrap: wrap;
  z-index: 1;

}

/*фон карточки фильм*/
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

/*фон карточки книга*/
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

/*фон карточки картина*/
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/*заголовок карточки*/
.card__title {
  display: flex;
  margin-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: 700;
  color: white;
  justify-content: start;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: left;  
  position: static;
  z-index: 3;
}

/*текст карточки*/
.card__text {
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: start;  
  position: relative;
  z-index: 2;
}

/*ссылка Посмотреть больше*/
.lots__look-more-link {
  margin-left: 40px;
  margin-top: 50px;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/*секция о нас*/
.about {
  display: grid;
  grid-template-columns: 380px auto;
}

/*класс для колонок*/
.about__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*контейнер с логотипом*/
.about__logo {
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  margin-top: 181px;
  margin-left: 71px;
}

/*изображение логотипа*/
.about__logo-image {
  margin-top: 65px;
  height: 47%;
  
}

/*заголовок секции*/
.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 283px 0px 75px 4px;
  
}

/*блок текста секции*/
.about__text {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-left: 4px;
  padding-right: 21px;
}

/*подвал*/
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 180px;
}

/*блок контактов расположенный в подвале*/
.footer__address {
  margin: 0 180px 0 50px;  
}

/*блок навигации по списку ссылок*/
.footer__menu {
  display: flex;
}

/*список пунктов меню*/
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 150px;
}

/*пункт списка меню*/
.footer__menu-list-item {
  font-size: 18px;
}

/*ссылка меню*/
.footer__menu-link {
  text-underline-offset: 4px;
}

/*активная ссылка меню (без подчёркивания)*/
.footer__menu-link_active {
  list-style: none;
}

/*список ссылок на социальные сети.*/
.footer__social-list {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;  
  padding: 0 50px 0 184px;
}

/*пункт списка ссылок на социальные сети*/
.footer__social-list-item {
  display: flex;
  
}

/*ссылка на социальные сети*/
.footer__social-link {
  list-style: none;
}

/*иконка социальной сети*/
.footer__social-icon {
  width: 48px;
}